<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>webpack 4 quickstart</title>
</head>
<body>
    <% include common/header.html %>
    
    <div id="app">dddddddddç
    </div>dd
</body>
</html>