<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <!-- <% include common/header.html %> -->

    <h4>Test title</h4>
    <img src="./static/images/captcha.jpg" alt="">
    <img src="./static/images/svg/logo.svg" alt="">

    <!--     
    <img src="<%= require('/images/temp_img/captcha2.jpg') %>" alt="" class="logo">
    <img src="<%= require('./staticimages/temp_img/captcha2.jpg') %>" alt="" class="logo"> -->
    <!-- <% include common/footer.html %> -->
</body>
</html>