<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Osparks TV</title>
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <% include common/header.html %>

    <img src="./static/images/temp_img/captcha.jpg" alt="">
    <img src="./static/images/temp_img/captcha2.jpg" alt="">

    <img src="./static/images/temp_img/logo.png" alt="">

    
    <% include common/footer.html %>
</body>
</html>