{% extends "_base.html" %} {% block body %}
<div class="side-breadcrumb">
	ERROR 404
</div>
<div class="error-wrapper">
	<div class="error-header">
		<h2 class="title">
			404
		</h2>
		<div class="subtitle">ERROR</div>
		<div class="caption">
			Seems Like The Page Doesn't Exist
		</div>
	</div>
	<div class="content">
		找不到頁面，請回上一頁
		<a href="" onclick="history.go(-1)" class="btn btn-main">BACK</a>
	</div>
</div>
<div id="background-lines">
	<div class="line line-1" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-2" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-3" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-4" style="height: 100%; visibility: inherit; opacity: 1;"></div>
</div>
{% endblock %}
