<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Dresscode{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <!--      
    Optmization 
    <link rel="stylesheet" href="static/vendor/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="static/vendor/animsition/css/animsition.css">
    Plugins 
    <link rel="stylesheet" href="static/vendor/lightcase/css/lightcase.css">
    <link rel="stylesheet" href="static/vendor/ilightbox/css/ilightbox.css">
    <link rel="stylesheet" href="static/vendor/sliderpro/css/slider-pro.css">
    <link rel="stylesheet" href="static/vendor/slidebars/slidebars.min.css">
    <link rel="stylesheet" href="static/vendor/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="static/vendor/owlcarousel/owl.theme.css">
    <link rel="stylesheet" href="static/vendor/superfish/css/superfish.css">
    <link rel="stylesheet" href="static/vendor/superfish/css/superfish-vertical.css">
    <link rel="stylesheet" href="static/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="static/vendor/responsivemenu/component.css">
    <link rel="stylesheet" href="static/vendor/revolution/css/settings.min.css">
    <link rel="stylesheet" href="static/vendor/revolution/css/layers.css">
    <link rel="stylesheet" href="static/vendor/revolution/css/navigation.min.css">
     Form 
    <link rel="stylesheet" href="static/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="static/vendor/icheck/icheck.css"> -->
    
    <link rel="stylesheet" href="static/css/vendor.css">
    <!-- Core -->
    <link rel="stylesheet" href="static/svg/icomoon/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Core -->
    <!--    <script src="static/js/modernizr.js" type="text/javascript"></script> -->
    <script src="static/js/jquery-1.11.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>

<body>
    {% include 'static/svg/icomoon/symbol-defs.svg' %}
    <!--     <div class="loader-wrap">
        <div class="loader">
            <div class="loader-inner">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div> -->
    <div id="sb-site">
        <header id="header" class="">
            <div class="sb-toggle-left" id="trigger">
                <div id="lines"></div>
            </div>
            <div class="logo">
                <a href="index.html">
                    <svg class="icon icon-logo">
                        <use xlink:href="#icon-logo"></use>
                    </svg>
                </a>
            </div>
            <div class="header-controls">
                <nav class="nav">
                    <ul class="menu hidden-sm hidden-xs">
                        <li>
                            <a href="shop_list.html" class="animsition-link">CLOTHING</a>
                        </li>
                        <li>
                            <a href="issue_list.html" class="animsition-link">ISSUE</a>
                        </li>
                        <li>
                            <a href="contact.html" class="animsition-link">CONTACT</a>
                        </li>
                        <li>
                            <a href="press_list.html" class="animsition-link">PRESS</a>
                        </li>
                        <li>
                            <a href="member_register.html" class="animsition-link">REGISTER</a>
                        </li>
                        <li>
                            <a href="member_login.html" class="animsition-link">LOGIN</a>
                        </li>
                    </ul>
                </nav>
                <div class="btn-search">
                    <a href="#search">
                        <svg class="icon icon-search">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </a>
                </div>
                <div class="btn-cart">
                    <a href="order_cart.html" class="sb-toggle-right" id="trigger">
                        <svg class="icon icon-cart">
                            <use xlink:href="#icon-cart"></use>
                        </svg>
                        <span class="count">2</span>
                    </a>
                </div>
            </div>
        </header>
        <main class="animsition">
            {% block body %} {% endblock %}
        </main>
        <footer class="footer">
            <div class="logo">
                <svg class="icon icon-footerlogo">
                    <use xlink:href="#icon-footerlogo"></use>
                </svg>
            </div>
            <div class="site-map">
                <ul class="site-map-ist">
                    <li>
                        <h4>about</h4>
                        <ul>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                            <li>
                                <a href="#">Terms & Conditions </a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>help</h4>
                        <ul>
                            <li>
                                <a href="#">Delivery</a>
                            </li>
                            <li>
                                <a href="#">Payment</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Shipping info</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>follow us</h4>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/dresscodetw/" target="_blank">
                                    <svg class="icon icon-facebook">
                                        <use xlink:href="#icon-facebook"></use>
                                    </svg> Facebook</a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/dresscodetw/" target="_blank">
                                    <svg class="icon icon-instagram">
                                        <use xlink:href="#icon-instagram"></use>
                                    </svg> Instagram</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="https://boss-louis.tw" target="_blank" class="site-author">Powered by 路老闆
            </a>
        </footer>
        <div id="search">
            <button type="button" class="close">
                <svg class="icon icon-remove">
                    <use xlink:href="#icon-remove"></use>
                </svg>
            </button>
            <form>
                <input type="search" value="" placeholder="Search Keyword" />
                <button type="submit" class="btn btn-main">Search</button>
            </form>
        </div>
    </div>
    <div class="sb-slidebar sb-left">
        <div class="mobilenav">
            <div class="mobilenav-container">
                <ul class="mobilenav-root">
                    <div class="mobile-logo">
                        <a href="index.html">
                            <svg class="icon icon-logo">
                                <use xlink:href="#icon-logo"></use>
                            </svg>
                        </a>
                    </div>
                    <li>
                        <a href="index.html">HOME</a>
                    </li>
                    <li>
                        <a href="issue_list.html">ISSUE</a>
                    </li>
                    <li>
                        <a href="#" id="link_clothing">CLOTHING
                            <svg class="icon icon-play_arrow">
                                <use xlink:href="#icon-play_arrow"></use>
                            </svg>
                        </a>
                        <ul class="mobilenav-sub">
                            <h2>CLOTHING</h2>
                            <li>
                                <a href="shop_list.html">WHAT'S NEW</a>
                            </li>
                            <li>
                                <a href="shop_list.html">WOMEN
                                    <svg class="icon icon-play_arrow">
                                        <use xlink:href="#icon-play_arrow"></use>
                                    </svg>
                                </a>
                                <ul class="mobilenav-sub">
                                    <h2>WOMEN</h2>
                                    <li>
                                        <a href="shop_list.html">COAT</a>
                                    </li>
                                    <li>
                                        <a href="shop_list.html">TOPS</a>
                                    </li>
                                    <li>
                                        <a href="shop_list.html">KNITWEAR</a>
                                    </li>
                                    <li>
                                        <a href="shop_list.html">BLOUSE</a>
                                    </li>
                                    <li>
                                        <a href="shop_list.html">TROUSERS</a>
                                    </li>
                                    <li>
                                        <a href="shop_list.html">SKIRT</a>
                                    </li>
                                    <li class="mobilenav-back">
                                        <a href="#">
                                            <svg class="icon icon-arrow-toggle-left">
                                                <use xlink:href="#icon-arrow-toggle-left"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="shop_list.html">WEAR</a>
                            </li>
                            <li>
                                <a href="shop_list.html">MAN</a>
                            </li>
                            <li>
                                <a href="shop_list.html">BAGS</a>
                            </li>
                            <li>
                                <a href="shop_list.html">SHOES</a>
                            </li>
                            <li>
                                <a href="shop_list.html">RING CASHMERE</a>
                            </li>
                            <li>
                                <a href="shop_list.html">ACCESSORIES</a>
                            </li>
                            <li class="mobilenav-back">
                                <a href="#">
                                    <svg class="icon icon-arrow-toggle-left">
                                        <use xlink:href="#icon-arrow-toggle-left"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">CONTACT</a>
                    </li>
                    <li>
                        <a href="about.html">About Us</a>
                    </li>
                    <li>
                        <a href="press_list.html">PRESS</a>
                    </li>
                    <li>
                        <a href="contact.html">CONTACT</a>
                    </li>
                    <li class="member-link">
                        <a href="member_register.html">Register</a>
                        <a href="member_login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slide-cart sb-slidebar sb-right sb-style-overlay sb-width-custom" data-sb-width="350px">
        <div class="cart-wrapper">
            <div class="cart-title">
                <h4>MY BAG</h4>
                <div class="close sb-close">
                    <svg class="icon icon-arrow-toggle-right">
                        <use xlink:href="#icon-arrow-toggle-right"></use>
                    </svg>
                </div>
            </div>
            <ul class="mini-cart">
                <li class="item">
                    <a href="products_item.html">
                        <div class="thumb">
                            <img src="http://static.zara.net/photos///2016/I/0/1/p/7484/222/307/2/w/1920/7484222307_6_1_1.jpg?ts=1471445942580" alt="" />
                        </div>
                        <div class="details">
                            <h4 class="title">
                                白短袖襯衫           
                            </h4>
                            <span class="size">XS</span>
                            <span class="spec">黑色</span>
                            <div class="helper-red">
                                庫存低於訂購量
                            </div>
                            <div class="float-right">
                                <span class="price">NTD 620</span>
                                <span class="quantity">x 1</span>
                                <span class="total">
                                    NTD 1240
                                </span>
                            </div>
                            <div class="delete">
                                <a href="#">
                                    <svg class="icon icon-remove">
                                        <use xlink:href="#icon-remove"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="products_item.html">
                        <div class="thumb">
                            <img src="http://static.zara.net/photos///2016/I/0/1/p/3666/181/710/2/w/1024/3666181710_6_1_1.jpg?ts=1475075049785" alt="" />
                        </div>
                        <div class="details">
                            <h4 class="title">
                                白短袖襯衫           
                            </h4>
                            <span class="size">XS</span>
                            <span class="spec">黑色</span>
                            <div class="helper-red">
                            </div>
                            <div class="float-right">
                                <span class="price">NTD 620</span>
                                <span class="quantity">x 1</span>
                                <span class="total">
                                    NTD 1240
                                </span>
                            </div>
                            <div class="delete">
                                <a href="#">
                                    <svg class="icon icon-remove">
                                        <use xlink:href="#icon-remove"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="products_item.html">
                        <div class="thumb">
                            <img src="http://static.zara.net/photos///2016/I/0/1/p/9320/222/712/2/w/1024/9320222712_6_1_1.jpg?ts=1471610819842" alt="" />
                        </div>
                        <div class="details">
                            <h4 class="title">
                                白短袖襯衫           
                            </h4>
                            <span class="size">XS</span>
                            <span class="spec">黑色</span>
                            <div class="helper-red">
                            </div>
                            <div class="float-right">
                                <span class="price">NTD 620</span>
                                <span class="quantity">x 1</span>
                                <span class="total">
                                    NTD 1240
                                </span>
                            </div>
                            <div class="delete">
                                <a href="#">
                                    <svg class="icon icon-remove">
                                        <use xlink:href="#icon-remove"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="space"></div>
            <div class="action">
                <a href="order_cart.html" class="btn btn-main btn-wide btn-block">Edit List</a>
                <a href="order_checkout.html" class="btn btn-main btn-wide btn-block">CHECKOUT</a>
            </div>
        </div>
    </div>
    <a href="#" class="go-top">
        <svg class="icon icon-arrow-toggle-top">
            <use xlink:href="#icon-arrow-toggle-top"></use>
        </svg>
        </i>
    </a>
    <!-- Optmization  -->
<!--     <script src="static/vendor/lazyload/jquery.lazyload.js "></script>
    <script src="static/vendor/smoothscroll/smoothscroll.js "></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js "></script>
    <script src="static/vendor/fitvids/jquery.fitvids.js "></script>
    <script src="static/vendor/animsition/js/animsition.min.js "></script>
    <script src="static/vendor/sweetalert/sweetalert.min.js "></script> -->
    <!-- Plugins -->
<!--     <script src="static/vendor/sliderpro/js/jquery.sliderPro.js "></script>
    <script src="static/vendor/slidebars/slidebars.js "></script>
    <script src="static/vendor/mobilemenu/mobile-menu.js "></script>
    <script src="static/vendor/stickykit/jquery.sticky-kit.min.js "></script>
    <script src="static/vendor/ilightbox/js/jquery.mousewheel.js"></script>
    <script src="static/vendor/ilightbox/js/ilightbox.js"></script>
    <script src="static/vendor/superfish/js/superfish.js "></script>
    <script src="static/vendor/owlcarousel/owl.carousel.js "></script>
    <script src="static/vendor/responsivemenu/modernizr.custom.js "></script>
    <script src="static/vendor/responsivemenu/jquery.dlmenu.js "></script>
    <script src="static/vendor/scrollport/scrollport.min.js "></script>
    <script src="static/vendor/megamenu/MegaMenu.js "></script>
    <script src="static/vendor/lightcase/js/lightcase.js"></script>
    <script src="static/vendor/infinitescroll/jquery.infinitescroll.min.js "></script>
    <script src="static/vendor/hammer/hammer.min.js"></script> -->
    <!-- REVOLUTION JS FILES --><!-- 
    <script src="static/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="static/vendor/revolution/js/jquery.themepunch.revolution.min.js"></script> -->
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
<!--     <script src="static/vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="static/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script> -->
    <!-- From -->
<!--     <script src="static/vendor/icheck/icheck.min.js"></script>
    <script src="static/vendor/rpage/responsive-paginate.js"></script>
    <script src="static/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="static/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-TW.js"></script>
    <script src="static/vendor/niceselect/jquery.nice-select.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="static/vendor/responsiveimg/responsiveImg.js"></script> -->
    <!-- Scripts -->
    <script src="static/js/vendor.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>
