{% extends "_base.html" %} {% block body %}
<div class="side-breadcrumb">
	DRESSCODE ABOUT
</div>
<div class="about-wrapper">
	<div class="about-header">
		<img class="about-logo" src="static/images/about_logo.svg" alt="">
		<div class="title">
			About
		</div>
	</div>
	<div class="about-content">
		<div class="row">
			<div class="about-left-block col-sm-6">
				<h3>You Are What You Wear</h3>
				<p>比起鎂光燈聚焦下的伸展台，完全展露自我風格的衣櫃，更是每個人所在乎及需要的。</p>
				<h3>GET REAL FROM RUNWAY </h3>
				<p>[Casual Chic - 生活時裝]
					<br> 為 DRESS CODE 至終追求的穿搭概念
					<br> DRESS CODE 藉由 [Unisex - 中性]、 [Minimalism - 極簡]、[Timeless - 經典] 等要素，構築出屬於 DRESS CODE 的生活時裝概念。
				</p>
			</div>
			<div class="about-right-block col-sm-6">
				<h3>FRENCH ESTHETIC & <br>
					MINIMALISM TWIST </h3>
				<p>DRESS CODE 以其 [優雅法式 & 個性極簡] 兩大意象風格延展出
					<br>DRESS CODE 男女生活時裝美學
				</p>
				<p>
					優雅法式風格
					<br> 主要希望以溫潤和諧的用色基調Pastel Colour 色鉛筆用色與大地色系及件件完美剪裁的質感單品，堆疊出如歐美時裝編輯般的知性美感。
				</p>
				<p>
					個性極簡風格
					<br> 黑、白、灰 色系為用色主基調搭配解構剪裁與個性 份量配件將歐美名模下秀般、率性不羈的美感詮釋地淋漓盡致
				</p>
			</div>
		</div>
	</div>
</div>
<div id="background-lines">
	<div class="line line-1" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-2" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-3" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-4" style="height: 100%; visibility: inherit; opacity: 1;"></div>
</div>
{% endblock %}
