{% extends "_base.html" %} {% block body %}
<div class="issue-wrapper">
    <section class="issue-detail">
        <h2 class="section-title">
        ISSUE
        </h2>
        <div class="cover-image">
            <img src="static/images/issue/cover.jpg">
        </div>
        <div class="container clearfix">
            <div class="entry">
                <div class="date">
                    OCTOBER 10
                </div>
            </div>
            <div class="inner-box">
                <div class="title">
                    GRACE
                    <span>tropica</span>
                </div>
                <div class="content">
                    Photographer Nico Guilis shoots her own editorials featuring ladies-only, including everyone from artists to It-girls and surf chicks in a fresh take on female power. Hear from this New York transplant on why breaking up can be a catalyst to greatness, finding the best surf spots, the power of Instagram and becoming an inadvertent new wave feminist.Check out HARPERS BAZAAR’S write up on Nico & the launch of Find Your California, featuring Vanessa Hudgens in JACK Winter 2015:
                </div>
            </div>
        </div>
        <div class="issue-detail-images clearfix" id="entries">
            <article class="">
                <div class="img-wrap">
                    <img src="static/images/issue/issue_img01.jpg " alt=" ">
                    <div class="prod-tag" id="" style="left: 65%;top: 47%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="prod-tag" id="" style="left: 35%;top: 87%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="issue-des">鉛筆用色與大地色系及件件完美剪裁的質感單品，堆疊出如歐美時裝編輯般的知性美感</div>
                </div>
            </article>
            <article class="">
                <div class="img-wrap">
                    <img src="static/images/issue/issue_img02.jpg " alt=" ">
                    <div class="issue-des">鉛筆用色與大地色系及件件完美剪裁的質感單品，堆疊出如歐美時裝編輯般的知性美感</div>
                </div>
            </article>
            <article class="">
                <div class="img-wrap">
                    <img src="static/images/issue/issue_img03.jpg " alt=" ">
                    <div class="prod-tag" id="" style="left: 42%;top: 65%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="prod-tag" id="" style="left: 52%;top: 87%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="issue-des">鉛筆用色與大地色系及件件完美剪裁的質感單品，堆疊出如歐美時裝編輯般的知性美感</div>
                </div>
            </article>
            <article class="">
                <div class="img-wrap">
                    <img src="static/images/issue/issue_img04.jpg " alt=" ">
                    <div class="prod-tag" id="" style="left: 65%;top: 47%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="prod-tag" id="" style="left: 35%;top: 87%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="issue-des">鉛筆用色與大地色系及件件完美剪裁的質感單品，堆疊出如歐美時裝編輯般的知性美感</div>
                </div>
            </article>
            <article class="">
                <div class="img-wrap">
                    <img src="static/images/issue/issue_img05.jpg " alt=" ">
                    <div class="prod-tag" id="" style="left: 65%;top: 47%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="prod-tag" id="" style="left: 35%;top: 87%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="issue-des">鉛筆用色與大地色系及件件完美剪裁的質感單品，堆疊出如歐美時裝編輯般的知性美感</div>
                </div>
            </article>
            <article class="">
                <div class="img-wrap">
                    <img src="static/images/issue/issue_img06.jpg " alt=" ">
                    <div class="prod-tag" id="" style="left: 30%;top: 47%;">
                        <a href="">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="issue-des">鉛筆用色與大地色系及件件完美剪裁的質感單品，堆疊出如歐美時裝編輯般的知性美感</div>
                </div>
            </article>
        </div>
    </section>
</div>
{% endblock %}
