{% extends "_base.html" %} {% block body %}
<div class="issue-wrapper">
	<section class="issue-list">
		<h2 class="section-title">
		ISSUE
		</h2>
		<div class="container issue-list clearfix" id="infinite-content" >
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							OCTOBER 10
						</div>
						<h2 class="title">
							GRACE
							<span>tropica</span>
						</h2>
						<div class="btn-view">
							VIEW
						</div>
					</div>
					<img src="static/images/index_issue/01.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							JUNE 10
						</div>
						<h2 class="title">
							Street
							<span>CLASSICS</span>
						</h2>
						<div class="btn-view">
							VIEW
						</div>
					</div>
					<img src="static/images/index_issue/02.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							MARCH 5
						</div>
						<h2 class="title">
							ESSENTIALS
							<span>FESTIVAL</span>
						</h2>
					</div>
					<img src="static/images/index_issue/03.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							JUNE 10
						</div>
						<h2 class="title">
							Street
							<span>CLASSICS</span>
						</h2>
					</div>
					<img src="static/images/index_issue/02.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							MARCH 5
						</div>
						<h2 class="title">
							ESSENTIALS
							<span>FESTIVAL</span>
						</h2>
					</div>
					<img src="static/images/index_issue/03.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							JUNE 10
						</div>
						<h2 class="title">
							Street
							<span>CLASSICS</span>
						</h2>
					</div>
					<img src="static/images/index_issue/02.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							MARCH 5
						</div>
						<h2 class="title">
							ESSENTIALS
							<span>FESTIVAL</span>
						</h2>
					</div>
					<img src="static/images/index_issue/03.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							JUNE 10
						</div>
						<h2 class="title">
							Street
							<span>CLASSICS</span>
						</h2>
					</div>
					<img src="static/images/index_issue/02.jpg" alt="">
				</a>
			</article>
			<article class="issue-item col-md-6">
				<a href="issue_detail.html">
					<div class="inner-box">
						<div class="date">
							MARCH 5
						</div>
						<h2 class="title">
							ESSENTIALS
							<span>FESTIVAL</span>
						</h2>
					</div>
					<img src="static/images/index_issue/03.jpg" alt="">
				</a>
			</article>
		</div>
		
	</section>
</div>
{% endblock %}
