{% extends "_base.html" %} {% block body %}
<div class="member-tab">
	<div class="container">
		<ul class="nav nav-tabs" role="tablist" id="tab">
			<li>
				<a href="member_index.html">會員帳戶中心</a>
			</li>
			<li class="active">
				<a href="member_order_history.html">歷史訂單</a>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="member-content">
		<h2 class="member-title">
				歷史訂單
			</h2>
		<table id="responsive-table" class="table">
			<thead>
				<tr>
					<th>
						訂單編號
					</th>
					<th>
						日期
					</th>
					<th>
						費用
					</th>
					<th>
						付款方式
					</th>
					<th>
						結帳狀態
					</th>
					<th>
						出貨狀態
					</th>
					<th>
						明細
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-title="訂單編號">
						201409180061
					</td>
					<td data-title="日期">
						2014-09-18
					</td>
					<td data-title="費用">
						370
					</td>
					<td data-title="付款方式">
						ATM
					</td>
					<td data-title="結帳狀態">
						未付款
					</td>
					<td data-title="出貨狀態">
						未出貨
					</td>
					<td data-title="明細">
						<a href="member_order_detail.html">明細</a>
					</td>
				</tr>
				<tr>
					<td data-title="訂單編號">
						201409180061
					</td>
					<td data-title="日期">
						2014-09-18
					</td>
					<td data-title="費用">
						370
					</td>
					<td data-title="付款方式">
						便利商店繳款
					</td>
					<td data-title="付費狀態">
						未付款
					</td>
					<td data-title="付費日期">
						未付費
					</td>
					<td data-title="明細">
						<a href="member_order_detail.html">明細</a>
					</td>
				</tr>
				<tr>
					<td data-title="訂單編號">
						201409180061
					</td>
					<td data-title="時間">
						2014-09-18
					</td>
					<td data-title="費用">
						370
					</td>
					<td data-title="付款方式">
						ATM
					</td>
					<td data-title="結帳狀態">
						未付款
					</td>
					<td data-title="出貨狀態">
						未出貨
					</td>
					<td data-title="明細">
						<a href="member_order_detail.html">明細</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
