{% extends "_base.html" %} {% block body %}
<div class="member-wrapper">
	<div id="login-box">
		<h1 class="member-title text-center">
			Login
		</h1>
		<div class="clearfix" role="form">
			<div class="form-group">
				<input type="email" class="form-control" id="email" placeholder="">
				<span class="form-bar"></span>
				<label for="email" class="float-label">Account (Email)</label>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="password">
				<span class="form-bar"></span>
				<label for="password" class="float-label">Password</label>
			</div>
			<div class="login-footer">
				<div class="login-pull">
					<a href="member_forget_password.html">Forget Password</a>
				</div>
			</div>
			<a href="member_index.html" class="btn btn-wide btn-main btn-block">Login</a>
			<a href="member_index.html" class="btn btn-wide btn-fb btn-block">Login with Facebook</a>
			<div class="text-center">
				Don’t have an account?
				<a href="member_register.html">Register now!</a>
			</div>
		</div>
	</div>
</div>
<div id="background-lines">
	<div class="line line-1" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-2" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-3" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-4" style="height: 100%; visibility: inherit; opacity: 1;"></div>
</div>
{% endblock %}
