{% extends "_base.html" %} {% block body %}
<div class="member-wrapper">
	<div class="text-center register-complete">
		
		<h2 class="member-title">
			Registration Complete
		</h2>
		<div class="register-complete-text">
			<p>Thank you for your registration. We also sent you a confirmation email so please check it for account details.</p>
		</div>
	</div>
</div>
<div id="background-lines">
	<div class="line line-1" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-2" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-3" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-4" style="height: 100%; visibility: inherit; opacity: 1;"></div>
</div>
{% endblock %}
