{% extends "_base.html" %} {% block body %}
<div class="member-tab">
	<div class="container">
		<ul class="nav nav-tabs" role="tablist" id="tab">
			<li>
				<a href="member_index.html">會員帳戶中心</a>
			</li>
			<li class="active">
				<a href="member_order_history.html">歷史訂單</a>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="member-content" ">
			<h2 class="member-title ">
				訂單明細
			</h2>
			<div class="cart-list-wrap ">
				<table class="table table-cart " id="responsive-table ">
					<thead>
						<tr>
							<th>
								圖片
							</th>
							<th>
								名稱
							</th>
							<th>
								數量
							</th>
							<th>
								單價
							</th>
							<th>
								小計
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="product-img ">
								<a href="shop_detail.html ">
									<img src="http://static.zara.net/photos///2016/I/0/1/p/7484/222/307/2/w/1920/7484222307_6_1_1.jpg?ts=1471445942580 " />
								</a>
							</td>
							<td class="product-title ">
								<a href="shop_detail.html ">
									<span>Mars in Whiskey/Natural</span>
								</a>
							</td>
							<td data-title="數量 ">
								1
							</td>
							<td data-title="價格 ">
								$370
							</td>
							<td data-title="小計 ">
								$370
							</td>
						</tr>
						<tr>
							<td class="product-img ">
								<a href="shop_detail.html ">
									<img src="http://static.zara.net/photos///2016/I/0/1/p/7484/222/307/2/w/1920/7484222307_6_1_1.jpg?ts=1471445942580 " />
								</a>
							</td>
							<td class="product-title ">
								<a href="shop_detail.html ">
									<span>Mars in Whiskey/Natural</span>
								</a>
							</td>
							<td data-title="數量 ">
								1
							</td>
							<td data-title="價格 ">
								$370
							</td>
							<td data-title="小計 ">
								$370
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cart-total ">
				<div class="total-item ">
					<span class="left-label ">運費</span>
					<span class="right-price ">$0</span>
				</div>					
				<div class="total-item ">
						<span class="left-label ">購物金折抵</span>
						<span class="right-price ">-222</span>
					</div>
				<div class="total-item ">
					<span class="left-label ">總計</span>
					<span class="right-price price-total ">$370</span>
				</div>
			</div>
			<table class="table table-order-info ">
				<tbody>
					<tr>
						<td>
							訂單編號
						</td>
						<td>
							201409180061
						</td>
					</tr>
					<tr>
						<td>
							收件人
						</td>
						<td>
							Jane Doe
						</td>
					</tr>
					<tr>
						<td>
							電話
						</td>
						<td>
							0911-123-567
						</td>
					</tr>
					<tr>
						<td>
							運送地址
						</td>
						<td>
							桃園縣中壢市福壽十一街10號1樓
						</td>
					</tr>
					<tr>
						<td>
							付費狀態
						</td>
						<td>
							未付款
						</td>
					</tr>
					<tr>
						<td>
							出貨狀態
						</td>
						<td>
							未出貨
						</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
{% endblock %}