{% extends "_base.html" %} {% block body %}
<div class="member-tab">
	<div class="container">
		<ul class="nav nav-tabs" role="tablist" id="tab">
			<li>
				<a href="member_index.html">會員帳戶中心</a>
			</li>
			<li>
				<a href="member_order_history.html">歷史訂單</a>
			</li>
			<li class="active">
				<a href="member_credit_history.html">回饋金紀錄</a>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="member-content">
		<h2 class="member-title"> 回饋金清單 </h2>
		
		<table id="responsive-table" class="table">
			<thead>
				<tr>
					<th>日期時間</th>
					<th>回饋金</th>
					<th>結餘</th>
					<th>備註</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-title="日期時間"> 2018-02-02 </td>
					<td data-title="回饋金"> 220 </td>
					<td data-title="結餘"> 50 </td>
					<td data-title="備註">
						<a href="member/order_detail/<?php echo $credit_history['order_idx']?>">查看訂單</a>
					</td>
				</tr>
				<tr>
					<td data-title="日期時間"> 2018-02-02 </td>
					<td data-title="回饋金"> 220 </td>
					<td data-title="結餘"> 50 </td>
					<td data-title="備註">
						<a href="member/order_detail/<?php echo $credit_history['order_idx']?>">查看訂單</a>
					</td>
				</tr>
				<tr>
					<td data-title="日期時間"> 2018-02-02 </td>
					<td data-title="回饋金"> 220 </td>
					<td data-title="結餘"> 50 </td>
					<td data-title="備註">
						<a href="member/order_detail/<?php echo $credit_history['order_idx']?>">查看訂單</a>
					</td>
				</tr>
				<tr>
					<td data-title="日期時間"> 2018-02-02 </td>
					<td data-title="回饋金"> 220 </td>
					<td data-title="結餘"> 50 </td>
					<td data-title="備註">
						<a href="member/order_detail/<?php echo $credit_history['order_idx']?>">查看訂單</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> 
{% endblock %}