{% extends "_base.html" %} {% block body %}
<div class="container content-checkout">
	<div class="checkout-payment">
<!-- 		<div class="checkout-section">
			<h3 class="checkout-title">折扣碼</h3>
			<div class="row">
				<div class="col-xs-8">
					<input type="text" class="form-control" id="coupon_code" name="coupon_code" value="" placeholder="請輸入折扣瑪">
				</div>
				<div class="col-xs-4">
					<button class="btn btn-main col-ms-4" onclick="check_coupon()">輸入</button>
				</div>
			</div>
		</div> -->

		
		<div class="checkout-section">
			<h3 class="checkout-title">請選擇運送方式</h3>
			<div class="radio">
				<label>
					<input id="shipment_deliver_to_home" name="shipment" type="radio" value="deliver_to_home"> 宅配/貨運
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="shipment_deliver_to_home_with_payment" name="shipment" type="radio" value="deliver_to_home_with_payment"> 宅配/貨運貨到付款
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="shipment_store_to_store" name="shipment" type="radio" value="store_to_store"> 超商取貨不付款
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="shipment_store_to_store_with_payment" name="shipment" type="radio" value="store_to_store_with_payment"> 超商取貨付款
				</label>
			</div>
			<div id="store_to_store_area">
				<div class="row">
					<div class="form-group col-md-6 store_to_store">
						<label for="store_name" class="control-label">店名</label>
						<input id="store_name" name="store_name" type="text" class="form-control">
					</div>
					<div class="form-group col-md-6 store_to_store">
						<label for="store_id" class="control-label">店號</label>
						<input id="store_id" name="store_id" type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
		<div class="checkout-section">
			<h3 class="checkout-title">請選擇付款方式</h3>
			<table class="table checkout-payment-method">
				<tbody>
					<tr>
						<td>
							<div class="radio">
								<label for="payment_cc">
									<input id="payment_cc" name="payment" type="radio" value="cc"> 信用卡
									<img src="static/images/payment/visa.png" />
									<img src="static/images/payment/mastercard.png" />
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="radio">
								<label for="payment_vccc">
									<input id="payment_vccc" name="payment" type="radio" value="vacc"> ATM轉帳
									<img src="static/images/payment/ATM.png" />
									<br> 取得繳款帳號後於三日內繳款，逾期帳號將失效，請重新購買。
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="radio">
								<label for="payment_cvs">
									<input id="payment_cvs" name="payment" type="radio" value="cvs"> 超商繳費
									<img src="static/images/payment/711.png" />
									<br>需自行至超商機台輸入代碼，產生繳費單後前往櫃台繳費。
								</label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="checkout-section">
			<h3 class="checkout-title">收貨人資訊</h3>
			<div class="form">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="email">收件人</label>
							<input type="text" class="form-control" name="rcpt_name" id="rcpt_name" value="曾玉婷">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="mobile">電話</label>
							<input type="text" class="form-control" name="rcpt_mobile" id="rcpt_mobile" value="0912334567">
						</div>
					</div>
					<div class="col-md-4 shipment_deliver_to_home">
						<div class="form-group">
							<label for="address">地區</label>
							<select class="form-control" name="shipping_area_idx" id="shipping_area_idx">
								<option value="0">台灣 Taiwan (依照原始運費計算)</option>
								<option value="1">(依照原始運費計算)</option>
							</select>
						</div>
					</div>
					<div class="col-md-8 shipment_deliver_to_home">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<label for="zipcode">郵遞區號</label>
									<input type="text" class="form-control" name="rcpt_zipcode" id="rcpt_zipcode" value="220">
								</div>
								<div class="col-sm-8">
									<label for="address">運送地址</label>
									<input type="text" class="form-control" name="rcpt_address" id="rcpt_address" value="桃園縣中壢市福壽十一街10號1樓">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-right">
			<a href="member_index.html" class="btn btn-grey">編輯我的寄送住址</a>
			<a href="order_checkout.html" class="btn btn-main">前往結帳付款</a>
		</div>
	</div>
	<div class="checkout-cart">
		<div class="cart-list-wrap checkout-list">
			<h3 class="checkout-title">
				訂單明細
			</h3>
			<ul class="mini-checkout-cart">
				<li class="item">
					<a href="products_item.html">
						<div class="thumb">
							<img src="http://static.zara.net/photos///2016/I/0/1/p/7484/222/307/2/w/1920/7484222307_6_1_1.jpg?ts=1471445942580" alt="" />
						</div>
						<div class="details">
							<h4 class="title">
                                白短袖襯衫           
                            </h4>
							<span class="size">XS</span>
							<span class="spec">黑色</span>
							<div class="helper-red">
                            	庫存低於訂購量
							</div>

							<div class="helper-tag">
                            	預購
							</div>
							<div class="float-right">
								<span class="price">NTD 620</span>
								<span class="quantity">x 1</span>
								<span class="total">
									NTD 1240
								</span>
							</div>
						</div>
					</a>
				</li>
				<li class="item">
					<a href="products_item.html">
						<div class="thumb">
							<img src="http://static.zara.net/photos///2016/I/0/1/p/3666/181/710/2/w/1024/3666181710_6_1_1.jpg?ts=1475075049785" alt="" />
						</div>
						<div class="details">
							<h4 class="title">
                                白短袖襯衫           
                            </h4>
							<span class="size">XS</span>
							<span class="spec">黑色</span>
							<div class="stock">
								
							</div>
							<div class="float-right">
								<span class="price">NTD 620</span>
								<span class="quantity">x 1</span>
								<span class="total">
									NTD 1240
								</span>
							</div>
						</div>
					</a>
				</li>
				<li class="item">
					<a href="products_item.html">
						<div class="thumb">
							<img src="http://static.zara.net/photos///2016/I/0/1/p/9320/222/712/2/w/1024/9320222712_6_1_1.jpg?ts=1471610819842" alt="" />
						</div>
						<div class="details">
							<h4 class="title">
                                白短袖襯衫           
                            </h4>
							<span class="size">XS</span>
							<span class="spec">黑色</span>
							<div class="stock">
							</div>
							<div class="float-right">
								<span class="price">NTD 620</span>
								<span class="quantity">x 1</span>
								<span class="total">
									NTD 1240
								</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		
		<!-- 購物金 -->
		<div class="cart-coupon">
			<a class="coupon-toggle" type="button" data-toggle="collapse" data-target="#couponPoint" aria-expanded="false" aria-controls="couponPoint">
				<h5> 使用購物金
					<div class="pull-right">
						<svg class="icon icon-plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
					</div>
				</h5>
			</a>
			<div class="collapse coupon-wrap" id="couponPoint">
				<div class="row">
					<div class="col-xs-8">
						<input type="text" class="form-control" id="coupon_code" name="coupon_code" value="" placeholder="">
						<p class="helper-block"> 購物金僅有<u>2800元</u>可使用 </p>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-main col-ms-4" onclick="check_coupon()">輸入</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 折扣碼 -->
		<div class="cart-coupon">
			<a class="coupon-toggle" type="button" data-toggle="collapse" data-target="#couponCode" aria-expanded="false" aria-controls="couponCode">
				<h5> 折扣碼
					<div class="pull-right">
						<svg class="icon icon-plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
					</div>
				</h5>
			</a>
			<div class="collapse coupon-wrap" id="couponCode">
				<div class="row">
					<div class="col-xs-8">
						<input type="text" class="form-control" id="coupon_code" name="coupon_code" value="" placeholder="請輸入折扣瑪">
						<a href="" class="btn-clear-input" ><svg class="icon icon-remove">
							<use xlink:href="#icon-remove"></use>
						</svg></a>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-main col-ms-4" onclick="check_coupon()">輸入</button>
					</div>
				</div>
			</div>


		</div>
		<div class="cart-total" id="cart_total">
			<div class="total-item">
				<span class="left-label">小計</span>
				<span class="right-price" id="total_price">$2635</span>
			</div>
			<div class="total-item">
				<span class="left-label">金流手續費</span>
				<span class="right-price" id="payment_fee">$0</span>
			</div>
			<div class="total-item">
				<span class="left-label">運費</span>
				<span class="right-price" id="shipment_fee">$0</span>
			</div>
			<div class="total-item">
				<span class="left-label">總計</span>
				<span class="right-price price-total" id="final_price">$2635</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}
