{% extends "_base.html" %} {% block body %}
<div class="container">
	<div class="member-wrapper">
		<h4>購物說明</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
					如何加入會員
				</a>
				<i class="indicator icon-plus  pull-right"></i>
			</h4>
			</div>
			<div id="collapse-1" class="panel-collapse collapse">
				<div class="panel-body">
					1.您可以點選網頁左上方「REGISTER」按鈕，填寫基本資料送出即可成為網路會員訂購商品。也可以在完成第一次購物並依網頁指示填寫資料後，由系統自動將您升級成為會員。
					<br> 2.註冊完成後系統會發出一封「會員帳號啟動確認信」至e-mail信箱(加入會員時所填的信箱)，必須先將您的帳號啟動才可以開始使用本網站的各項會員服務功能。
					<br> &lt;&lt; 貼心小提醒 Reminder&gt;&gt;
					<br>請您確認E-mail是否填寫正確，以免收不到會員通知信函或訂單確認信函；倘若未收到通知信函或確認信函，您可以先至【垃圾郵件夾】查閱，如於 24 小時內仍未收到，歡迎直接來電由客服人員為您服務。
				</div>
			</div>
		</div>
		<h4>購物常見問題</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">
					要如何查詢我的訂單專屬的ATM虛擬帳號
				</a>
				<i class="indicator icon-plus  pull-right"></i>
			</h4>
			</div>
			<div id="collapse-2" class="panel-collapse collapse">
				<div class="panel-body">
					1.每張訂單完成結帳時，便會同時跳出有顯示您專屬虛擬帳號之頁面，若您遺失帳號亦可至會員中心點選 「訂單查詢」查詢。
					<br> 2.登入會員後點選欲查詢訂單的詳細資訊，於匯款帳號欄位便有您此筆訂單專屬的虛擬帳號。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">
					ATM虛擬帳號期限已過了該怎麼辦
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-3" class="panel-collapse collapse">
				<div class="panel-body">
					1、虛擬帳號有三日繳費時間限制，若逾時未完成繳款動作，該帳號就不再存在，該筆訂單亦會自動取消。
					<br>例如:7/25訂購，必須於7/28 PM23:59 完成轉帳。
					<br>2、若是逾時(三日)未繳款，需煩請您重新訂購，系統會再次給您一組新的虛擬帳號和新的繳款期限。
					<br>3、再次提醒您，請您儘量在繳費期限內完成轉帳，以免您欲購買的商品剛好售完，而無法訂購。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
					安全付款機制
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-4" class="panel-collapse collapse">
				<div class="panel-body">
					信用卡線上刷卡：本公司使用歐付寶金流服務，專業專營最具規模之開放性第三方支付平台，已通過經濟部Cash Inbound/Cash Outbound網路代結匯資格，且逐步推出整合系統。金流方面已與聯合信用卡處理中心、臺灣銀行、第一銀行、華南銀行、台北富邦、國泰世華、玉山銀行、台新銀行、中國信託……等多家銀行合作(以銀行代碼排序)，共同推展信頼之第三方支付交易履約保證平台。
				</div>
			</div>
		</div>
		<h4>購物金規則說明</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">
					什麼是購物金
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-5" class="panel-collapse collapse">
				<div class="panel-body">
					BELLUCY官方購物網站不定期舉辦活動所贈送之BELLUCY官方購物網站購物金。
					<br> 購物金同等於現金(但不可兌換為現金)不可轉換至不同帳號，可於購物金產生後扣抵訂單金額。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-6">
					購物金發放時間
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-6" class="panel-collapse collapse">
				<div class="panel-body">
					因應7天鑑賞期的可能退換貨時間，購物金產生時間約為該筆訂單出貨後8天，若無退換貨的產生，系統會自動將購物金累積至您的會員帳號。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-7">
					購物金使用方式
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-7" class="panel-collapse collapse">
				<div class="panel-body">
					鑑賞期後發放，可立即全額扣抵。
					<br> 請於結帳時點選「啟用購物金抵用機制」，將會顯示您可扣抵的購物金。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-8">
					購物金使用期限
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-8" class="panel-collapse collapse">
				<div class="panel-body">
					可至會員中心-購物金查詢，內有購物金之詳細發放日期.金額及已使用金額與到期日資訊。
				</div>
			</div>
		</div>
		<h4>配送取貨問題</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-9">寄送方式有哪些
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-9" class="panel-collapse collapse">
				<div class="panel-body">台灣本島：一律以台灣新竹物流寄送宅配到府。
					<br> 離島地區：由新竹物流寄送(若申請退換貨需自行支付運費)。
					<br> 海外地區：詳情請見"海外會員訂購"。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-10">
					運費計算標準
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-10" class="panel-collapse collapse">
				<div class="panel-body">
					全台免運費。(但若商品文案規格描述中有特殊說明者以該說明為準)
					<br> 海外地區詳情請見"海外會員訂購"。
				</div>
			</div>
		</div>
		<h4>保養及維修需知</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-11">保養須知
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-11" class="panel-collapse collapse">
				<div class="panel-body">
					1、包包收納時，請置入防塵套並定期放入乾燥劑，存放於陰涼乾燥處(避免陽光直曬、高溫、雨水、潮溼、酸性物質)，且請勿重壓、放置過重過多物品及避免包身與背帶重疊，而造成包包變形、壓痕、染色、褪色、發霉等情況發生。
					<br>2、請勿將包包放入洗衣機內或整個放入水中清洗；請勿使用漂白水、汽油、香蕉水等酒精成份的溶劑清潔或擦拭。
					<br>3、被雨淋濕時，用乾淨白棉布把水分擦乾，再放置於陰涼通風處，自然風乾。
					<br>4、纖維合成製品及布類、尼龍製品，因受潮、日曬或高溫後變黃、褪色均屬自然現象。
					<br>5、通用基本保養方式
					<br>「天然皮革」清潔方式：乾淨白棉布擦拭。保養方式：皮革保養乳。(原色皮革、粉色皮革除外)
					<br>「纖維合成皮革」清潔方式：乾淨白棉布擦拭。保養方式：家庭用中性清潔劑。
					<br>「布面」清潔方式：乾淨白棉布/軟刷。保養方式：不適用。
					<br>「五金」清潔方式：乾淨白棉布擦拭。保養方式：不適用。
					<br>
					<br>6、原色天然皮革使用時會因為溫度、濕度及光線的照射而使顏色變深，屬自然現象。
					<br>7、纖維合成皮革本屬環保材質，為符合國際環保組織之規定，採用無汙染的原料製成，經一段時間後合成皮革表面會產生水解、出現裂痕的狀況，屬正常現象。建議勿長期保存，請經常使用，方可延長使用的壽命。
					<br>8、纖維合成皮革、漆皮因使用的是抗熱性較弱的材質，請不要靠近高熱場所或放置於機車車箱中。
					<br>9、五金製品使用一段時間後若受潮及磨擦皆會出現腐蝕及表面剝落、褪色之情形，此為正常現象。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-12">
					維修須知
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-12" class="panel-collapse collapse">
				<div class="panel-body">
					1、凡購買本公司產品，自購買日起，三個月內憑保卡在非人為、非外力、非不當使用之因素而造成商品損壞的情況下，可將商品連同保卡，帶至BELLUCY全台百貨專櫃，享免費維修服務壹次。
					<br>2、商品購買超過三個月以上或商品在人為、外力、不當使用下損壞或未攜帶保卡，將商品帶至BELLUCY全台百貨專櫃或門市，經本公司確認，在可維修範圍內，將酌收維修費用。
					<br>3、維修商品工作天數為兩周左右。
					<br>4、維修商品經本公司專業人員鑑定後，若因包身結構或主體面料損壞或原物料短缺而無法維修時，將退回商品，敬請見諒。
					<br>5、本公司保留鑑定權，以分辦該商品是否因人為/外力/不當使用因素而造成商品之損壞。
					<br>6、纖維合成皮革、布面因使用後磨損、刮傷及染色，恕無法維修。
					<br>7、五金製品皆為限量生產，若有脫落之情況，請將五金製品保留，送回店櫃檢視；如五金製品遺失或斷裂無法修復，且無法以類似物取代，本公司保留退件與否權力。
					<br>8、商品如需維修、基本保養服務，請事先將放置於包包、皮夾內的個人物品取出，若於維修、基本保養過程中造成遺失之情事，恕無法負責。
					<br>9、已修復、保養完成的商品，自本公司通知取件日後一個月內，若未取件，恕本公司無法擔負保管之責。
					<br>10、本公司保留修訂產品維修條款之權利，而無須另行通知。
					<br>11、如有任何爭議，本公司保留最終決定權。
				</div>
			</div>
		</div>
		<h4>海外會員訂購</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-13">配送地區
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-13" class="panel-collapse collapse">
				<div class="panel-body">
					香港、澳門、中國大陸、新加坡、亞洲其他國家（地區)加拿大、美國、澳洲、紐西蘭等地
					<br> 其他國家可請來電：+886-2-2999-0815 或 mail：<a href="mailto:cindy@jd-jieda.com">cindy@jd-jieda.com</a>詢問
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-14">訂購方法及付款方式
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-14" class="panel-collapse collapse">
				<div class="panel-body">
					◆【訂購方法】與一般訂購流程相同
					<br> 您還不是會員嗎?
					<br> 選擇商品 → 加入購物車 → 填寫資料加入會員 → 請填寫正確帳號密碼進行登入作業 → 確認購物清單 → 確認購物金額 → 填寫寄送資料 → 選擇結帳方式 → 完成訂購流程
					<br> 如果您已經是會員了，請先登入會員身份
					<br> 選擇商品 → 加入購物車 → 確認購物清單 → 確認購物金額 → 填寫寄送資料 → 選擇結帳方式 → 完成訂購流程
					<br> ◆海外訂單【付款方式】
					<br> 提供VISA / MASTER / JCB 信用卡刷卡。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-15">寄送方式及運費計算標準
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-15" class="panel-collapse collapse">
				<div class="panel-body">
					運費計算標準
					<br> 全台免運費。
					<br>
					<br> *國際運費參考
					<br> 香港 $235-419
					<br> 澳門 $373-655
					<br> 中國大陸（華南，東南）$465-765
					<br> 中國大陸（其他省份）$535-885
					<br> 新加坡 $790-1,060
					<br> 亞洲其他國家（地區)　$770-1,060
					<br> 加拿大　$1,150-1,650
					<br> 美國　$1,200-1,650
					<br> 澳洲/紐西蘭　$1,075-1,555
					<br>
					<br> (以上價格單位皆為新台幣）
					<br> *注意事項：
					<br> 1.以上運費之費用為參考，運費因包包大小及數量不同有不同計價，如想了解該筆訂單的運費或估算運費，請來電：+886-2-2999-0815或mail：cindy@jd-jieda.com　詢問．
					<br> 2.國際運費與進口關稅由買家自行負擔．
					<br> 3.到貨時間會因所在地區不同而異．
					<br> 4.海外購物恕不接受退換貨或退款服務，出貨前會詳盡檢查商品後再出貨．
					<br> 5.日本地區購買請洽<a href="www.bellucy.jp" target="=_blank">www.bellucy.jp</a>
					<br>
					<br> *配送貨運：
					<br> 1.中華郵政EMS：除了中國大陸地區、香港及澳門地區，皆以此方式配送
					<br> 2.順豐快遞：中國大陸地區，香港及澳門
					<br>
					<br> 訂購等同於同意以上之注意事項
					<br>
					<br> 注意事項：
					<br> 1.出貨前KINAZ將會為包包詳盡做檢查，若瑕疵定義不同抱歉無法受理退換貨。
					<br> 2.運送過程中若是商品有意外恕KINAZ無法負責，需麻煩自行與配送公司調解。
					<br>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-16">關於退換貨
				</a>
				<i class="indicator icon-plus pull-right"></i>
			</h4>
			</div>
			<div id="collapse-16" class="panel-collapse collapse">
				<div class="panel-body">
					因海外退換貨手續繁複，且運費金額高，故BELLUCY［沒有提供］海外訂單退換貨服務，請見諒。
					<br> ※出貨前BELLCUY將會為包包詳盡做檢查，若瑕疵定義不同抱歉無法受理退換貨※
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
