{% extends "_base.html" %} {% block body %}
<div class="side-breadcrumb">
    DRESSCODE PRESS
</div>
<div class="press-wrapper">
    <ul class="press-list clearfix">
        <li class="col-sm-4">
            <a href="press_detail.html">
                <div class="image">
                    <img src="static/images/press/thumb_01.jpg">
                </div>
                <h4 class="title">BELLA 儂儂雜誌 </h4>
                <div class="subtitle">
                    2013 3 月號 第346期
                </div>
            </a>
        </li>
        <li class="col-sm-4">
            <a href="press_detail.html">
                <div class="image">
                    <img src="static/images/press/thumb_01.jpg">
                </div>
                <h4 class="title">BELLA 儂儂雜誌 </h4>
                <div class="subtitle">
                    2013 3 月號 第346期
                </div>
            </a>
        </li>
        <li class="col-sm-4">
            <a href="press_detail.html">
                <div class="image">
                    <img src="static/images/press/thumb_01.jpg">
                </div>
                <h4 class="title">BELLA 儂儂雜誌 </h4>
                <div class="subtitle">
                    2013 3 月號 第346期
                </div>
            </a>
        </li>
        <li class="col-sm-4">
            <a href="press_detail.html">
                <div class="image">
                    <img src="static/images/press/thumb_01.jpg">
                </div>
                <h4 class="title">BELLA 儂儂雜誌 </h4>
                <div class="subtitle">
                    2013 3 月號 第346期
                </div>
            </a>
        </li>
        <li class="col-sm-4">
            <a href="press_detail.html">
                <div class="image">
                    <img src="static/images/press/thumb_01.jpg">
                </div>
                <h4 class="title">BELLA 儂儂雜誌 </h4>
                <div class="subtitle">
                    2013 3 月號 第346期
                </div>
            </a>
        </li>
        <li class="col-sm-4">
            <a href="press_detail.html">
                <div class="image">
                    <img src="static/images/press/thumb_01.jpg">
                </div>
                <h4 class="title">BELLA 儂儂雜誌 </h4>
                <div class="subtitle">
                    2013 3 月號 第346期
                </div>
            </a>
        </li>
    </ul>
</div>
<div id="background-lines">
    <div class="line line-1" style="height: 100%; visibility: inherit; opacity: 1;"></div>
    <div class="line line-2" style="height: 100%; visibility: inherit; opacity: 1;"></div>
    <div class="line line-3" style="height: 100%; visibility: inherit; opacity: 1;"></div>
    <div class="line line-4" style="height: 100%; visibility: inherit; opacity: 1;"></div>
</div>
{% endblock %}
