{% extends "_base.html" %} {% block body %}
<div class="side-breadcrumb">
	DRESSCODE PRESS
</div>
<div class="press-wrapper">
	<div class="row">
		<div class="press-nav col-sm-3">
			<div class="subtitle">
				2013 3 月號 第346期
			</div>
			<a href="press_list.html" class="btn btn-back">
				Back
				<br> To
				<br>
				<svg class="icon icon-arrow-toggle-left">
					<use xlink:href="#icon-arrow-toggle-left"></use>
				</svg> Press
			</a>
		</div>
		<div class="press-detail col-sm-9">
			<h2 class="title">
				BELLA 儂儂雜誌 
			</h2>
			<div class="content">
				<p>
					DRESS CODE 2013 新款訂製包 ENVOY， 以信封包形設計傳遞時尚訊息。 ⋯⋯ 揭露於 ELLE(國際中文版) 2013 / 2 月號 / 第257期 / P.255 "STYLE SEARCH│風格前線" 單元。
				</p>
				<img src="static/images/press/image_01.jpg" alt="">
			</div>
		</div>
	</div>
</div>
<div id="background-lines">
	<div class="line line-1" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-2" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-3" style="height: 100%; visibility: inherit; opacity: 1;"></div>
	<div class="line line-4" style="height: 100%; visibility: inherit; opacity: 1;"></div>
</div>
{% endblock %}
