{% extends "_base.html" %} {% block body %}
<script>
$(document).ready(function() {
	setTimeout(function() {
		$('a#link_clothing').trigger('click');
	}, 0);
});
</script>
<div class="side-breadcrumb">
	DRESSCODE CLOTHING
</div>
<div class="prod-wrapper">
	<div class="prod-category">
		<div id="prodCategory">
			<div class="list-group panel">
				<a href="#category1" data-toggle="collapse" data-parent="#prodCategory">
					what's new
				</a>
				<a href="#category2" data-toggle="collapse" data-parent="#prodCategory">
					SALE
				</a>
				<div class="collapse" id="category2">
					<a href="#SubMenu3" data-toggle="collapse" data-parent="#SubMenu3">
						SILK TO
						<span class="prod-zhtw">上衣</span>
					</a>
					<div class="collapse list-group-submenu" id="SubMenu3">
						<a href="#" data-parent="#SubMenu3">Subitem 1 a</a>
						<a href="#" data-parent="#SubMenu3">Subitem 2 b</a>
					</div>
				</div>
				<a href="#category2" data-toggle="collapse" data-parent="#prodCategory">
					UNISEX
					<span class="prod-zhtw">中性</span>
				</a>
				<a href="#category3" data-toggle="collapse" data-parent="#prodCategory">
					WOMEN
					<span class="prod-zhtw">女裝</span>
				</a>
				<div class="collapse" id="category3">
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">COAT
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">TOPS
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">KNITWEAR
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">BLOUSE
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">TROUSERS
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">SKIRT
						<span class="prod-zhtw">大衣</span>
					</a>
				</div>
				<a href="#category4" data-toggle=" collapse " data-parent="#prodCategory">
					WEAR
					<span class="prod-zhtw">男裝</span>
				</a>
				<a href="#category5 " data-toggle="collapse " data-parent="#prodCategory">
					Man
					<span class="prod-zhtw">男裝</span>
				</a>
				<div class="collapse " id="category5">
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">COAT
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">TOPS
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">KNITWEAR
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">BLOUSE
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">TROUSERS
						<span class="prod-zhtw">大衣</span>
					</a>
					<a href="" data-toggle="collapse" data-parent="#SubMenu3">SKIRT
						<span class="prod-zhtw">大衣</span>
					</a>
				</div>
				<a href="#category6 " data-toggle="collapse " data-parent="#prodCategory">
					BAGS
				</a>
				<a href="#category7 " data-toggle="collapse " data-parent="#prodCategory">
					LEATHER JACKET
				</a>
				<a href="#category8 " data-toggle="collapse " data-parent="#prodCategory">
					SHOES
				</a>
				<a href="#category9 " data-toggle="collapse " data-parent="#prodCategory">
					RING CASHMERE
				</a>
				<a href="#category10 " data-toggle="collapse " data-parent="#prodCategory">
					ACCESSORIES
				</a>
			</div>
		</div>
	</div>
	<div class="prod-grid">
		<h2 class="title">What's New</h2>
		<div class="prod-header">
			<ul class="pagination">
				<li class="pagination-prev">
					<a href="#">
						<svg class="icon icon-arrow-round-left">
							<use xlink:href="#icon-arrow-round-left"></use>
						</svg>
					</a>
				</li>
				<li class="active">
					<a href="">1</a>
				</li>
				<li class="">
					<a href="">2</a>
				</li>
				<li class="">
					<a href="">3</a>
				</li>
				<li class="">
					<a href="">4</a>
				</li>
				<li class="">
					<a href="">5</a>
				</li>
				<li class="">
					<a href="">6</a>
				</li>
				<li class="">
					<a href="">7</a>
				</li>
				<li class="">
					<a href="">8</a>
				</li>
				<li class="">
					<a href="">9</a>
				</li>
				<li class="">
					<a href="">10</a>
				</li>
				<li class="pagination-next">
					<a href="#">
						<svg class="icon icon-arrow-round-right">
							<use xlink:href="#icon-arrow-round-right"></use>
						</svg>
					</a>
				</li>
			</ul>
			<div class="view-control">
				<a href="#" class="btn">View All</a>
			</div>
		</div>
		<ul class="prod-list">
			<li>
				<div class="prod-block">
					<a href="shop_detail.html " title="Product Title">
						<div class="prod-image">
							<img src="static/images/shop/shop_thumb01.jpg " alt="Product Title">
						</div>
					</a>
					<h3 class="prod-name">
								白短袖襯衫
						</h3>
					<div class="prod-price promote">
						<span class="orig-price">
							NT$ 2,790
						</span>
						<span class="promote-price">NT$ 890</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block new">
					<div class="new-tag">
						NEW
					</div>
					<a href="shop_detail.html " title="Product Title">
						<div class="prod-image">
							<img src="static/images/shop/shop_thumb02.jpg " alt="Product Title">
						</div>
					</a>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block preorder">
					<a href="shop_detail.html " title="Product Title">
						<div class="prod-image">
							<img src="static/images/shop/shop_thumb03.jpg " alt="Product Title">
							<div class="preorder-tag">
								PRE - ORDER
							</div>
						</div>
					</a>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block">
					<a href="shop_detail.html " title="Product Title " class="product-image">
					</a>
					<div class="prod-image">
						<img src="static/images/shop/shop_thumb01.jpg " alt="Product Title">
					</div>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block">
					<a href="shop_detail.html " title="Product Title">
						<div class="prod-image">
							<img src="static/images/shop/shop_thumb02.jpg " alt="Product Title">
						</div>
					</a>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block">
					<a href="shop_detail.html " title="Product Title">
						<div class="prod-image">
							<img src="static/images/shop/shop_thumb03.jpg " alt="Product Title">
						</div>
					</a>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block">
					<a href="shop_detail.html " title="Product Title " class="product-image">
					</a>
					<div class="prod-image">
						<img src="static/images/shop/shop_thumb01.jpg " alt="Product Title">
					</div>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block">
					<a href="shop_detail.html " title="Product Title">
						<div class="prod-image">
							<img src="static/images/shop/shop_thumb02.jpg " alt="Product Title">
						</div>
					</a>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="prod-block">
					<a href="shop_detail.html " title="Product Title">
						<div class="prod-image">
							<img src="static/images/shop/shop_thumb03.jpg " alt="Product Title">
						</div>
					</a>
					<h3 class="prod-name">
								白短袖襯衫
							</h3>
					<div class="prod-price">
						<span class="orig-price">
							NT$ 2,790
						</span>
					</div>
				</div>
			</li>
		</ul>
		<div class="prod-footer">
			<ul class="pagination">
				<li class="pagination-prev">
					<a href="#">
						<svg class="icon icon-arrow-round-left">
							<use xlink:href="#icon-arrow-round-left"></use>
						</svg>
					</a>
				</li>
				<li class="active">
					<a href="">1</a>
				</li>
				<li class="">
					<a href="">2</a>
				</li>
				<li class="">
					<a href="">3</a>
				</li>
				<li class="">
					<a href="">4</a>
				</li>
				<li class="">
					<a href="">5</a>
				</li>
				<li class="">
					<a href="">6</a>
				</li>
				<li class="">
					<a href="">7</a>
				</li>
				<li class="">
					<a href="">8</a>
				</li>
				<li class="">
					<a href="">9</a>
				</li>
				<li class="">
					<a href="">10</a>
				</li>
				<li class="pagination-next">
					<a href="#">
						<svg class="icon icon-arrow-round-right">
							<use xlink:href="#icon-arrow-round-right"></use>
						</svg>
					</a>
				</li>
			</ul>
			<div class="view-control">
				<a href="#" class="btn">View All</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
