@charset "utf-8";

/* --------------------------------
	About
-------------------------------- */

.about-header {
	display: felx;
	justify-content: center;
	position: relative;
	.about-logo {
		position: relative;
		z-index: 2;
		margin: 0 auto;
		display: block;
		max-width: 600px;
	}
	.title {
		font-family: $font-1;
		color: #e1e1e1;
		font-size: 133px;
		text-transform: uppercase;
		margin: 0 auto;
		text-align: center;
	}
	span {
		color: #30beb8;
	}
	&:before {
		position: absolute;
		content: '';
		background: #383838;
		width: 1px;
		height: 50%;
		left: 50%;
		top: -55%;
	}
	&:after {
		position: absolute;
		content: '';
		background: #383838;
		width: 1px;
		height: 50%;
		left: 50%;
		bottom: -50%;
		z-index: 5;
	}
	@include MQ(S) {
		margin: 30px;
		margin-bottom: 25%;
	}
}

.about-content {
	max-width: 100%;
	margin: 5%;
	padding: 5% 10%;
	background: #f4f4f4;
	color: #848484;
	z-index: 3;
	position: relative;
	h3 {
		text-transform: uppercase;
		line-height: 180%;
		font-family: $font-2;
	}
	.about-left-block {
		padding-right: 50px;
	}
	.about-right-block {
		padding-left: 50px;
	}
	@include MQ(S) {
		.about-left-block {
			padding: 0;
		}
		.about-right-block {
			padding: 0;
		}
	}
}