@charset "utf-8";
.intro-wrap {
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	background: linear-gradient(to bottom, rgb(75, 157, 47), rgb(147, 200, 98));
	.intro-container {
		min-height: 100%;
		min-width: 100%;
		overflow: hidden;
		padding-top: 3%;
		position: relative;
		background-image: url('../images/intro_bg.png');
		background-size: contain;
		background-position: 20%;
		background-repeat: no-repeat;
	}
}

.intro-logo {
	width: 100%;
	text-align: center;
	margin: 50px 0;
	svg {
		height: 200px;
		width: 100%;
		color: #fff;
	}
	@include MQ(M) {
		width: 70%;
		max-width: 250px;
		margin: 20px auto;
	}
}

.intro-item {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 6%;
	margin-bottom: 6%;
	border-bottom: 1px solid #B5E096;
	.item {
		text-align: center;
		min-width: 200px;
		a {
			display: block;
		}
	}
	.intro-icon {
		transition: all .2s ease 0s;
		margin-bottom: 15px;
		svg {
			width: 80px;
			height: 80px;
			color: #fff;
		}
		&:hover {
			
			transform: scale(1.2);
		}
	}
	.site-branch {
		color: #fff;
		font-size: 1.1em;
		line-height: 1.5;
		align-items: baseline;
		display: inline-flex;
	}
	@include MQ(M) {
		.item {
			text-align: center;
			width: 100px;
			min-width: initial;
		}
	}
	@include MQ(XS) {
		display: block;
		.item {
			width: 100%;
			a {
				display: flex;
				max-width: 300px;
				margin: 0 auto;
			}
		}
		.intro-icon svg {
			width: 40px;
			height: 40px;
		}
		.site-branch {
			text-align: left;
			margin-left: 20px;
			margin-top: 10px;
		}
	}
}

.intro-contact {
	justify-content: space-between;
	display: flex;
	margin: 40px 0 20px 0;
	@include MQ(S) {
		flex-direction: column;
	}
	.contact-block {
		color: #424242;
		margin-bottom: 20px;
		display: flex;
		max-width: 315px;
		@include MQ(S) {
			font-size: 14px;
		}
	}
	.contact-icon {
		border-radius: 50%;
		vertical-align: middle;
		text-align: center;
		line-height: 2.5;
		margin-right: 10px;
		flex: none;
		svg {
			width: 3.5em;
			height: 3.5em;
			vertical-align: middle;
			color: #fff;
		}
	}
	.contact-info {
		color: #fff;
		h4 {
			font-family: $font-1;
			font-weight: 400;
			font-size: 18px;
			color: #fff;
			margin: 0;
			text-transform: uppercase;
		}
		p {
			margin: 5px 0 0 0;
			line-height: 1.5;
		}
		a {
			color: #fff;
		}
	}
	@include MQ(S) {
		.contact-block {
			width: 100%;
		}
		.contact-icon svg {
			width: 3em;
			height: 3em;
		}
		.contact-info {
			h4 {
				font-size: 16px;
			}
			.phone {
				font-size: 13px;
			}
		}
	}
}

.intro-footer {
	position: relative;
	@include MQ(XS) {
		margin-top: -50px;
	}
	.birdie {
		height: 347px;
		max-width: 1300px;
		margin: 0 auto;
		position: relative;
		background: url(../images/intro_footer.png) no-repeat center;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 1;
		@include MQ(XS) {
			display: none;
		}
	}
	.birdie-mobile {
		display: none;
		height: 347px;
		max-width: 1300px;
		margin: 0 auto;
		position: relative;
		background: url(../images/intro_footer_mobile.png) no-repeat center;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 2;
		@include MQ(XS) {
			display: block;
		}
	}
	img.mask {
		width: 96px;
		position: absolute;
		left: calc(50% - 55px);
		z-index: 2;
		bottom: 186px;
		@include MQ(XS) {
			display: none;
		}
	}
	.bg-left {
		background: url(../images/intro_footer_bg_left.png) no-repeat center;
		background-size: auto 347px;
		background-repeat: repeat-x;
		position: absolute;
		width: 50%;
		height: 347px;
		left: 0;
		bottom: 0;
	}
	.bg-right {
		background: url(../images/intro_footer_bg_right.png) no-repeat center;
		background-size: auto 347px;
		background-repeat: repeat-x;
		position: absolute;
		width: 50%;
		height: 347px;
		right: 0;
		bottom: 0;
	}
}


/*--------------------
Wrapper
--------------------*/

.wrapper {
	transform-style: preserve-3d;
	width: 0;
	z-index: 2;
	height: 100vh;
	position: absolute;
	bottom: 0;
	left: 50%;
	@include MQ(XS) {
		display: none;
	}
}


/*--------------------
Me
--------------------*/

.card {
	height: 100vh;
}

.bird {
	height: 100vh;
	position: relative;
	transform: translateZ(40px) rotateY(50px);
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 10px;
	}
	&::after {
		height: 30px;
		top: auto;
		bottom: -15px;
		z-index: -1;
		filter: blur(15px);
		background-size: 100% 30px;
		border-radius: 100px;
	}
	.eye,
	.eye::before {
		@include MQ(XS) {
			display: none;
		}
		width: 25px;
		height: 25px;
		position: absolute;
		left: -39px;
		bottom: 193px;
		z-index: -1;
		background: url(../images/intro_eye.png) no-repeat center;
		background-size: 100%;
		transform: translate(50px,
		5px);
		@include MQ(XS) {
			display: none;
		}
	}
	.eye::before {
		content: '';
		top: -2px;
		left: -7px;
		background: url(../images/intro_eye_right.png) no-repeat center;
		background-size: 100%;
		@include MQ(XS) {
			display: none;
		}
	}
}
