@charset "utf-8";
#prod {
  .sp-bottom-thumbnails .sp-thumbnail-container {
    overflow: visible !important;
    margin: 0;
  }
  .sp-bottom-thumbnails {
    left: 0;
    margin: 0;
    margin-top: 10px;
    @include MQ(M) {
      margin-top: 5px;
    }
  }
  .sp-thumbnail-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .sp-thumbnail-image-container {
    margin-right: 5px;
    overflow: hidden;
    float: left;
    display: inline-flex;
    align-items: center;
  }
  .sp-caption {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}

.sp-selectable {
  cursor: pointer;
}

// fix index event caption fade problem
.sp-caption-container {
  position: relative;
}

.sp-thumbnails-container {
  // min-height: 800px;
  // @include MQ(M) {
  //   min-height: auto;
  // }
}


/* BULLETS */

.uranus .tp-bullet {
  box-shadow: 0 0 0 2px rgba(140, 140, 140, 0) !important;
}

.uranus .tp-bullet.selected,
.uranus .tp-bullet:hover {
  box-shadow: 0 0 0 2px #8c8c8c !important;
}

.uranus .tp-bullet-inner {
  background-color: rgba(140, 140, 140, 0.7) !important;
}

.uranus .tp-bullet.selected .tp-bullet-inner,
.uranus .tp-bullet:hover .tp-bullet-inner {
  background-color: #8c8c8c !important;
}
