@charset "utf-8";

/*--------------------------------------------------------------------------
SUPEPR FISH MENU REWRITE
--------------------------------------------------------------------------*/

.sf-menu {
	font-weight: bold;
	font-size: 12px;
	z-index: 999;
	margin: 0;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	> li {
		padding: 0 15px;
		float: left;
		background: transparent;
		transition: background .2s;
		line-height: 24px;
		float: left;
		padding: 0;
		margin: 0;
		border-left: 1px solid #4d9be7;
		&:last-child {
			border-right: 1px solid #4d9be7;
		}
		a {
			border: 0;
			font-family: $font-2;
			text-transform: uppercase;
			letter-spacing: 0.12em;
			font-size: 16px;
			padding: 2.4em 1.9em;
			display: block;
			color: #fff;
			@include MQ(M) {
				font-size: 12px;
				padding: 1em;
			}
			&:hover {
				color: #fff;
			}
		}
		&:hover,
		&.sfHover {
			color: #d22c30;
			background: $color-2;
			transition: none;
		}
	}
	@include MQ(L) {
		> li a {
			padding: 1.5em 1.5em;
			font-size: 14px;
		}
	}
	ul,
	ul li ul {
		min-width: 80px;
		margin-top: 0px;
		li {
			min-width: 150px;
			padding: 0 10px;
			background: $color-1;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			a {
				border-top: 0px;
				border-left: 0px;
				display: block;
				position: relative;
				padding: 8px 5px;
				color: #fff;
				font-size: 12px;
				font-family: $font-1;
				text-transform: capitalize;
			}
			&:hover,
			&.sfHover {
				color: #fff;
				background: $color-2;
				transition: none;
			}
		}
	}
}

.sf-arrows .sf-with-ul {
	padding: 0.8em 1.8em;
}
