@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import 'https://fonts.googleapis.com/css?family=Homenaje';

// fonts 

$font-1: 'Playfair Display',"微軟正黑體","Heiti TC";
$font-2: "Montserrat","微軟正黑體","Heiti TC";
$font-3: "montserratlight","微軟正黑體","Heiti TC";
$font-4: "montserratextra_bold","微軟正黑體","Heiti TC";
$font-5: 'Homenaje',"微軟正黑體","Heiti TC" ;
