.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arrow-round-left {
  width: 0.625em;
}

.icon-arrow-round-right {
  width: 0.625em;
}

.icon-shopbag {
  width: 0.888671875em;
}

.icon-search {
  width: 1.0078125em;
}

.icon-logo {
  width: 0.6455078125em;
}

.icon-footerlogo {
  width: 0.556640625em;
}
