@charset "utf-8";

/* --------------------------------
Nice Select
-------------------------------- */
.swal-overlay {
  background-color: rgba(204, 204, 204, 0.45);
}
.swal-button {
	border-radius: 30px;
	padding: 1rem 2rem;
}
.swal-button.swal-button--confirm {
  background: #535659;
}

.swal-title {
    font-size: 1.5rem;
    font-family: $font-ctb;
}

.swal-modal {
  border-radius: 0;
	padding: 2rem 2rem;
	border: 1px solid #e4e4e4;
}