@charset "utf-8";

/* --------------------------------
Checkout
-------------------------------- */

.product-img {
  text-align: center;
  img {
    width: 100%;
  }
  a {
    display: block;
  }
}

.product-title {
  font-family: $font-1;
  font-weight: bold;
}

.remove a {
  padding: 5px;
}

.checkout-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.mobile-label {
  display: none;
  @include MQ(M) {
    display: inline;
  }
}

.helper-red {
  font-size: 13px;
  color: #d42727;
  display: block;
}

.helper-tag {
  color: #a5a5a5;
  font-size: 13px;
  border: #a5a5a5 1px solid;
  border-radius: 3px;
  top: 0;
  right: 0;
  position: absolute;
  padding: 1px 3px;
}


/* --------------------------------
Checkout Payment
-------------------------------- */

.content-checkout {
  max-width: 1200px;
  margin: 20px auto;
  width: auto;
  display: flex;
  @include MQ(M) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.checkout-section {
  margin-bottom: 30px;
}

.checkout-payment {
  flex: 1 2 100%;
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(130, 130, 130, 0.25);
  margin-right: 20px;
  @include MQ(M) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    order: 2;
    width: 100%;
    margin-right: 0px;
  }
}

.checkout-cart {
  flex: none;
  width: 380px;
  @include MQ(M) {
    order: 1;
    width: 100%;
  }
}

.checkout-section {}

table.checkout-payment-method {
  font-size: 14px;
  .radio {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  #payment_cc,
  #payment_vccc,
  #payment_cvs {
    float: none;
  }
}


/* --------------------------------
Totol and shippin block
-------------------------------- */

.cart-list-wrap {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(130, 130, 130, 0.25);
  position: relative;
}

.order-detail {
  font-family: $font-3;
  margin-top: 50px;
  font-family: 14px;
}

.order-detail-info {
  .form-group {
    margin-bottom: 0;
  }
  .control-label {
    text-transform: capitalize;
  }
  .control-label,
  .form-control-static {
    font-size: 14px;
    font-family: $font-3;
  }
}

.cart-total {
  padding: 10px 20px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(130, 130, 130, 0.25);
  .total-item {
    display: block;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    .left-label {
      min-width: 30%;
      text-align: right;
      margin-right: 10%;
    }
    .right-price {}
    @include MQ(S) {
      padding-left: 0;
    }
  }
  span.price-total {
    font-family: $font-2;
    color: $color-1;
    font-size: 28px;
  }
}

//折扣碼 與 購物金
.cart-coupon,
.cart-total {
  position: relative;
  background: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f3f0f0;
  box-shadow: 0 1px 1px rgba(130, 130, 130, 0.25);
  .coupon-toggle {
    cursor: pointer;
  } // .coupon-wrap {
  //  display: none;
  // }
}

.btn-clear-input {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #989898;
}

/* --------------------------------
Checkout Quantity
-------------------------------- */

.quantity {
  font-family: $font-2;
  .qty {
    text-align: center;
    background: transparent;
    color: #000;
    font-size: 24px;
    width: 120px;
    border: 0;
  }
  .minus,
  .plus {
    display: inline-block;
    color: #757575;
    font-size: 20px;
    border-radius: 50%;
  }
}


/* --------------------------------
Mini Cart
-------------------------------- */

.slide-cart {
  background: #ececec;
  min-width: 300px !important;
  @include MQ(XS) {
    min-width: 100% !important;
  }
}

.slide-cart {
  .cart-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .cart-title {
    h4 {
      color: #000;
      background: #f7f7f7;
      padding: 30px;
      margin: 0;
      height: 77px;
      font-family: $font-1;
      letter-spacing: 4px;
      font-size: 16px;
      text-transform: uppercase;
    }
    .close {
      width: 77px;
      height: 77px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      padding-top: 18px;
      opacity: 1;
      svg {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        color: #000;
      }
    }
  }
  .subtotal {
    background: #e4e4e4;
    color: #797979;
    letter-spacing: 3px;
    .price {
      font-family: $font-2;
      letter-spacing: 1px;
      font-size: 16px;
      color: #baa371;
      float: right;
      &:before {
        content: '$';
      }
    }
    .mini-cart-info {
      margin: 25px;
    }
  }
  .action {
    padding: 15px 25px;
  }
  .space {
    flex-grow: 1;
  }
}

.mini-cart {
  padding: 0;
  line-height: 150%;
  .thumb {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100px;
      padding: 10px;
      padding-bottom: 0;
      margin: 0 auto;
    }
  }
  .details {
    padding-top: 15px;
    .title {
      font: 14px $font-1;
      margin: 0 0 5px 0;
      padding-right: 30px;
      a {
        color: $color-1;
      }
    }
    .size,
    .spec,
    .stock {
      color: #a0a0a0;
    }
    .float-right {
      text-align: right;
      display: block;
      float: right;
      margin-right: 10px;
      position: absolute;
      right: 0;
      bottom: 0;
      font-family: $font-5;
      font-weight: bold;
      font-size: 14px;
    }
    .price,
    .quantity {
      color: #989898;
    }
    .total {
      display: block;
      font-size: 16px;
    }
    .delete {
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 1;
      svg {
        width: 25px;
        height: 25px;
        color: #cecdcd;
      }
      &:hover svg {
        color: $color-1;
      }
    }
  }
  .item {
    list-style: none;
    position: relative;
    border-bottom: 1px solid #EFEFEF;
    a {
      display: block;
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
}


/* --------------------------------
Cart for Checkout
-------------------------------- */

.mini-checkout-cart {
  padding: 0;
  line-height: 150%;
  .thumb {
    float: left;
    width: 80px;
    overflow: hidden;
    img {
      max-width: 60px;
    }
  }
  .details {
    .title {
      font: 14px $font-1;
      margin: 0 0 5px 0;
      padding-right: 30px;
      a {
        color: $color-1;
      }
    }
    .size,
    .spec,
    .stock {
      color: #a0a0a0;
    }
    .float-right {
      text-align: right;
      display: block;
      float: right;
      position: absolute;
      right: 0;
      bottom: 20px;
      font-family: $font-5;
      font-weight: bold;
      font-size: 14px;
    }
    .price,
    .quantity {
      color: #989898;
    }
    .total {
      display: block;
      font-size: 16px;
    }
    .delete {
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 1;
      svg {
        width: 25px;
        height: 25px;
        color: #cecdcd;
      }
      &:hover svg {
        color: $color-1;
      }
    }
  }
  .item {
    list-style: none;
    position: relative;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    a {
      display: block;
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}