@charset "utf-8";
section>.container {
	@include MQ(XS) {
		padding: 0 15px;
	}
}

.section-title {
	text-align: center;
	margin: 50px 0;
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	span {
		color: #c0c0c0;
		padding: 0 10px;
		font-family: $font-1;
	}
	@include MQ(S) {
		font-size: 24px;
	}
	@include MQ(XS) {
		font-size: 18px;
	}
	.subtitle {
		text-transform: uppercase;
		letter-spacing: 0.15em;
		color: #b4b4b4;
		font-size: 16px;
		text-align: center;
	}
}


/* --------------------------------
Index - Banner
-------------------------------- */

.index-banner {
	.hermes .tp-bullet {
		margin: 5px 0;
		display: block;
		overflow: hidden;
		height: 2px;
		border-radius: 0;
		opacity: 0.3;
		&.selected {
			opacity: 1;
		}
	}
	.tparrows {
		width: 30px;
		height: 1px;
		background: #fff;
	}
	.tparrows.tp-rightarrow:before {
		content: 'NEXT';
		font-size: 16px;
		letter-spacing: .1em;
		font-weight: 100;
		right: 100%;
		position: absolute;
		top: 0;
		line-height: 5px;
		font-family: $font-5;
	}
	.tparrows.tp-leftarrow:before {
		content: 'PREV';
		font-size: 16px;
		letter-spacing: .1em;
		font-weight: 100;
		left: 100%;
		position: absolute;
		top: 0;
		line-height: 5px;
		font-family: $font-5;
	}
}


/* --------------------------------
Index - Issues
-------------------------------- */

section.index-issue {
	position: relative;
	padding-bottom: 30%;
	.container {
		margin: 0 auto;
		position: relative;
	}
	.more-issue {
		max-width: 600px;
		position: relative;
		text-align: center;
		float: left;
	}
}


/* --------------------------------
Index - Promote Bar 促銷訊息
-------------------------------- */

.promote-text-bar {
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
	display: none;
	.content {
		margin: 0 auto;
		background: #000;
		padding: 0.4rem 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 0 10px 10px;
		.close {
			margin-left: 5px;
			color: #fff;
			opacity: 0.8;
			font-size: 15px;
		}
	}
}