{% extends "_base.html" %} {% block body %}
<div class="index-wrap">
	<h1 class="index-title">
		This is Fungus, a frontend designer based in Taipei. Focus on delivering fabulous visual and technical solutions for website.
	</h1>
	<a href="" class="btn-about">About</a>
</div>

<ul class="works-list">
	<li>
		<a href="#">Hannah Jewelry</a>
		<a href="#">Mongo</a>
		<a href="#">TeamLuck</a>
		<a href="#">Unilove</a>
		<a href="#">HandyAge</a>
		<a href="#">Dresscode</a>
		<a href="#">GaryTu Fashion Illustration</a>
	</li>
</ul>
{% endblock %}