{% extends "_base.html" %} {% block body %}
<div class="container">
	<div class="product-detail-main">
		<div class="row">
			<div class="entry-content" data-sticky="stick-element">
				<div class="inner-wrap">
					
					<h3 class="subtitle">
						01 敏感肌膚
					</h3>
					<h1 class="title">
						mongo萌狗 寵物犬專用沐浴精
					</h1>
					<div class="detail-content">
						<span>500ml</span>
						<ol>
							<li>
								木酢原液具分解臭源、深層清潔抗菌
							</li>
							<li>
								平衡油脂、調理毛孔、緩解紅腫、搔癢
							</li>
						</ol>
						<p>
							採用原生樹材提煉精餾木酢液,搭配草本配方,可適用於各種不同膚質的心愛寵物.木酢液通過SGS國際級認證純植物性不流淚配方,溫和無刺激性,寶貝寵物誤食也不擔心.
						</p>
						<p>
							擁有除臭抗菌的功能 , 滋潤皮膚 , 亮澤毛髮及消除異味 給寶貝寵物們最頂級的呵護,精心研發無皂配方, 同時照顧飼主的雙手。
						</p>
					</div>
				</div>
			</div>
			<div class="image" >
				<div class="slider-pro" data-sliderpro="product-images">
					<div class="sp-slides">
						<div class="sp-slide">
							<img class="sp-image" src="static/images/product/mongo_01_500ml.png" alt="" />
						</div>
						<div class="sp-slide">
							<img class="sp-image" src="static/images/product/mongo_01_500ml.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
			<div class="purchase-action" data-sticky="stick-element">
				<div class="inner-wrap">
					<div class="price" data-original-price="2100">
						NT$ 1290
					</div>
					<div class="quantity">
						<a href="#" class="minus">
							-
						</a>
						<input type="text" value="1" class="qty">
						<a href="#" class="plus">
							+
						</a>
					</div>
					<div class="spec col-8 offset-2 mt-3">
						<select class="form-control">
							<option value="0">選擇規格</option>
							<option value="1">500ml</option>
							<option value="1">1000ml</option>
						</select>
					</div>
					<button class="btn btn-add-to-cart">
						<span>加入</span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="back-to-list">
				<a href="product_list.html">
					<svg class="icon icon-arrow-left">
						<use xlink:href="#icon-arrow-left"></use>
					</svg> 回到上一頁
				</a>
			</div>
		</div>
	</div>
	<div class="product-detail-introduction">
		<div class="row">
			<div class="col-md-12 col-lg-6 image">
				<img src="static/images/product/introduce_img_01.png" />
			</div>
			<div class="col-md-12 col-lg-6 d-flex align-items-center">
				<div class="col-md-12 col-lg-9">
					<h1>
						你最關心的，
						<br /> 狗狗衛生與健康。
					</h1>
					<h6><span>
						呵護飼主與寵物
					</span>
						<br /><br />
					</h6>
					<p>擁有除臭抗菌的功能 , 滋潤皮膚 , 亮澤毛髮及消除異味給寶貝寵物們最頂級的呵護,精心研發無皂配方, 同時照顧飼主的雙手。</p>
						<br /><br />
				</div>
			</div>
		</div>
		<div class="row flex-row-reverse">
			<div class="col-md-12 col-lg-6 image">
				<img src="static/images/product/introduce_img_02.png" />
			</div>
			<div class="col-md-12 col-lg-6  d-flex align-items-center">
				<div class="col-md-12 col-lg-9 offset-lg-3 offset-md-0">
					<h1>
						同時呵護兼顧<br />
						寵物與飼主健康。
					</h1>
					<h6>
						呵護飼主與寵物
					</h6>
					<p>擁有除臭抗菌的功能 , 滋潤皮膚 , 亮澤毛髮及消除異味給寶貝寵物們最頂級的呵護,精心研發無皂配方, 同時照顧飼主的雙手。</p>
				</div>
			</div>
		</div>


		<div class="row full-width">
			<div class="col-md-12 image">
				<img class="img-fluid" src="static/images/about/cover_img.jpg" />
			</div>
			<div class="col-md-12 col-lg-8 offset-lg-2">
					<h1>
						你最關心的， 狗狗衛生與健康。
					</h1>
					<h6><span>
						呵護飼主與寵物
					</span>
						<br /><br />
					</h6>
					<p>擁有除臭抗菌的功能 , 滋潤皮膚 , 亮澤毛髮及消除異味給寶貝寵物們最頂級的呵護,精心研發無皂配方, 同時照顧飼主的雙手。擁有除臭抗菌的功能 , 滋潤皮膚 , 亮澤毛髮及消除異味給寶貝寵物們最頂級的呵護,精心研發無皂配方, 同時照顧飼主的雙手。擁有除臭抗菌的功能 , 滋潤皮膚 , 亮澤毛髮及消除異味給寶貝寵物們最頂級的呵護,精心研發無皂配方, 同時照顧飼主的雙手。擁有除臭抗菌的功能 , 滋潤皮膚 , 亮澤毛髮及消除異味給寶貝寵物們最頂級的呵護,精心研發無皂配方, 同時照顧飼主的雙手。</p>

					<iframe width="560" height="315" src="https://www.youtube.com/embed/qYSTGfy5TaY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="product-detail-recommendation" data-owl="owl-carousel">
		<h3 class="section-title">相關產品</h3>
		<div class="owl-carousel recommend-products">
			<div class="item">
				<a href="product_detail.html">
					<div class="image">
						<img src="static/images/product/mongo_01_500ml.png" alt="" />
					</div>
					<div class="entry">
						<h6 class="title">mongo萌狗
							<br />寵物犬專用沐浴精</h6>
						<span class="number"></span>
						<p class="caption">01 深層清潔</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="product_detail.html">
					<div class="image">
						<img src="static/images/product/mongo_02_500ml.png" alt="" />
					</div>
					<div class="entry">
						<h6 class="title">mongo萌狗
							<br />寵物犬專用沐浴精</h6>
						<span class="number"></span>
						<p class="caption">02 敏感肌膚</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="product_detail.html">
					<div class="image">
						<img src="static/images/product/mongo_03_500ml.png" alt="" />
					</div>
					<div class="entry">
						<h6 class="title">mongo萌狗
							<br />寵物犬專用沐浴精</h6>
						<span class="number"></span>
						<p class="caption">03 驅除蟲蚤</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div> {% endblock %}