@charset "utf-8";

/* --------------------------------
Accordion
-------------------------------- */

#prodCategory .panel {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  .prod-zhtw {
    visibility: hidden;
    opacity: 0;
    margin-left: 5px;
    transition: opacity 0.3s linear;
  }
  > a {
    background-color: transparent;
    color: #000000;
    padding: 5px 0px;
    margin-bottom: 0;
    display: block;
    font-size: 14px;
    font-weight: 100;
    font-family: $font-3;
    text-transform: capitalize;
    line-height: 1;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    svg {
      float: right;
      width: 0.8em;
      height: 0.8em;
    }
    &:hover {
      .prod-zhtw {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  > li > ul {}
  > div a {
    position: relative;
    display: block;
    padding: 5px 15px;
    font-size: 12px;
    color: #6F6F6F;
    cursor: pointer;
    font-weight: 100;
    font-family: $font-3;
    text-transform: capitalize;
    line-height: 100%;
    &:hover {
      .prod-zhtw {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  > div {}
}


/* --------------------------------
Accordion for terms pages
-------------------------------- */

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
  color: $color-1;
  i {
    color: #dec4ad;
    font-size: 18px;
  }
  .panel-title a {
    font-size: 14px;
    color: #6D6D6D;
  }
  a:hover,
  a:focus {
    color: black;
    text-decoration: none;
    outline: none;
  }
}
