@charset "utf-8";
video {
  max-width: 100%;
  height: auto;
}

div.header-panel {
  border-bottom: solid 1px #ebebeb;
  padding: 15px 0 10px 0;
  @media only screen and(max-width: 991px) {
    display: none;
  }
}


/* --------------------------------
Back to top Button
-------------------------------- */

.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 4em;
  height: 4em;
  line-height: 4em;
  text-align: center;
  z-index: 999;
  svg {
    color: #000;
    width: 2.6em;
    height: 2.6em;
  }
}

@media only screen and (max-width: 991px) {
  .go-top {
    bottom: 1em;
    right: 1em;
    font-size: 12px;
    width: 3em;
    height: 3em;
    line-height: 3em;
  }
}


/* --------------------------------
Breadcrumb
-------------------------------- */

.breadcrumb {
  list-style: none;
  padding: 0;
  font-family: $font-1;
  margin-bottom: 30px;
  background: transparent;
  text-transform: uppercase;
  border-bottom: 1px solid #E0DEDE;
  font-size: 12px;
  li {
    display: inline-block;
  }
  > li + li:before {
    padding: 0;
    padding: 0 5px;
    content: '>';
    color: #aaa;
  }
  a {
    color: $color-1;
  }
  @include MQ(S) {
    display: none;
  }
}

.side-breadcrumb {
  color: #bbb;
  font-family: $font-5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: fixed;
  right: -120px;
  text-align: center;
  width: 300px;
  height: 28px;
  top: 50%;
  transform: rotate(-90deg);
  z-index: 99;
  @include MQ(M) {
    display: none;
  }
}


/* --------------------------------
Nav Search
-------------------------------- */

.nav-search {
  display: inline-block;
  text-align: left;
  .search-wrap {
    display: inline-block;
    background: inherit;
    border-radius: 5px;
    margin: 0;
    .search-button,
    .search-input {
      border: 0;
      margin: 0;
      padding: 0;
      background: transparent;
      outline: none;
      font-size: 14px;
      font-family: $font-2;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .search-button {
      transition: all .6s ease;
      background: inherit;
      color: #888;
      .search-exp {
        color: #c9c9c9;
      }
    }
    .search-input {
      transition: width .6s ease;
      width: 0;
      color: #CBCBCB;
      .search-exp {
        width: 120px;
      }
      @media screen only and (max-width: 768px) {
        .search-exp {
          width: 180px;
        }
      }
    }
  }
}


/* --------------------------------
Pagination
-------------------------------- */

.pagination {
  margin: 0;
  > li {
    > a,
    > span {
    font-size: 12px;
      display: inline-block;
      color: #595959;
      font-family: $font-2;
      text-transform: uppercase;
      border: 0px solid #E8E8E8;
      padding: 10px 12px;
      background-color: transparent;
      @include MQ(XS) {
        padding: 8px 10px;
      }
    }
  }
  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: #000;
      background-color: transparent;
    }
  }
  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: #000;
      background-color: transparent;
    }
  }
  svg {
    vertical-align: middle;
    width: 0.4em;
    height: 1.2em;
  }
}


/* --------------------------------
Background Line
-------------------------------- */

#background-lines {
  .line {
    position: fixed;
    width: 1px;
    height: 0;
    top: 0;
    left: 0;
    background-color: #e7e6e0;
    z-index: -1;
  }
  .line-1 {
    left: 20%;
  }
  .line-2 {
    left: 40%;
  }
  .line-3 {
    left: 60%;
  }
  .line-4 {
    left: 80%;
  }
}
