@charset "utf-8";

/*--------------------
Fluid Background
--------------------*/
// .fluid-wrap {
//   height: 100vh;
//   width: 100%;
//   overflow: hidden;
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   backface-visibility: hidden;
// }

.fluid-1 {
  position: absolute;
  left: calc(50% - 200px);    
  z-index: 0;
  top: 0;
  overflow: hidden;
}

.fluid-2 {
    position: absolute;
    z-index: 0;
    right: -3.5%;
    top: 18%;
    max-width: 33%;
  img {
    max-width: 100%;
  }
}
.fluid-3 {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 30%;
    max-width: 33%;
  img {
    max-width: 100%;
  }
}